/* @override 
	http://www.southlandorganics.com/sites/all/themes/southland/css/local.css?M
	http://www.southlandorganics.com/sites/all/themes/southland/css/local.css?N
*/

div.breadcrumb {
	margin-top: 5px;
}
.slider p {
	margin-right: 20px;
}

.slider img {
	padding-top: 0;
}

div.views-field-title a ins h1 {
	text-decoration: none;
	text-align: center;
	margin-bottom: 0;
	padding-bottom: 0;
}

h1.title {
	position: relative;
	z-index: 10;
}

/* @group Products Page */

#block-views-uc_products-block_1 h2.title.block-title, #block-views-uc_products-block_2 h2.title.block-title, #block-views-uc_products-block_3A5CFF9 h2.title.block-title {
	text-align: center;
	background-color: #A5CFF9;
	padding-top: 3px;
	padding-bottom: 3px;
}

div.view-uc-products td.col-1, div.view-uc-products td.col-2, div.view-uc-products td.col-3 {
	width: 33%;
	text-align: center;
}

div.view-uc-products td div.views-field-field-image-cache-fid div.field-content {
	height: 160px;
}

div.view-uc-products tbody div.views-field-title a {
	font-weight: bold;
}



/* @end */



/* @group Basic Typography & Colors
-------------------------------------------------------------- */
html {
	background-color: #301E04;
}

body {
  font-family: Arial, Helvetica, Verdana, "Bitstream Vera Sans", sans-serif;
  font-size: 75%;
	background: #301E04 center;
}
/* @end */

/* @group Layout
-------------------------------------------------------------- */

/* All Regions
-------------------------------------------------------------- */
#page-inner {
  border: 0;
  margin-bottom: 0;
  padding: 0;
}

/*  Preface Regions
-------------------------------------------------------------- */
.preface-top {
  padding: 20px 0 0 0;
}

div#preface-top.preface-top.row.grid16-16 {
	padding-top: 5px;
	background-color: white;
}

#preface-top-wrapper {
	background-color: #C3C4C3;
}

/*  Main Area (content + sidebars + main-prefaces + main-postscripts)
-------------------------------------------------------------- */
#main-wrapper {
	padding: 0;
	background: #301E04;

}
#main {
	background-color: white;
	padding-top: 0;
}

/* Content Regions
-------------------------------------------------------------- */
#content-inner {
  clear: both;
}

#sidebar-first {
}

/* @group Header */

/* Header Regions
-------------------------------------------------------------- */

/* @group Header Group */

/* Header Group */
.header-group-wrapper {
	background: white url(../images/organic-back.jpg) repeat-x 0 12px;
}

.header-group-inner {
	height: 291px;
	padding: 0;
	width: 971px;
	background: url(../images/Southland-Design-Sky.png) no-repeat;
}

div#header-group-inner.header-group-inner {
	background-color: 
}

.header-group-wrapper a:link,
.header-group-wrapper a:visited {
  color: #fff;
	background-color: transparent;
}

/* Header Top */
.header-top-wrapper {
	background-image: none;
	background-color: white;
}

.header-top {
  overflow: visible;
  position: relative;
}



/* @end */

/* @group Header Top */

/* Header top region */
.header-top-region {
  color: white;
	margin: 0;
	padding: 0;
}

.header-top-region a:link,
.header-top-region a:visited,
.header-top-region a:hover,
.header-top-region a:focus {
  color: #22A6E4;
	text-decoration: underline;
}

/* @group Toboggan */

#toboggan-login-link-container {
}

#toboggan-login div.item-list ul li.first {
	display: inline;
	float: left;
}

#toboggan-login div.item-list ul {
	width: 175px;
}

/* @end */

html.js .fusion-horiz-login#block-user-0 #user-login-form label {
	color: white;
	margin-top: 16px;
}



/* @end */

/* @group Header Site Info */

/* @group Site Info */

/* Site Info
-------------------------------------------------------------- */

#header-site-info span {
}

#logo {
	margin-left: 20px;
	margin-top: 25px;
}

#site-name a:link,
#site-name a:visited {
  color: #d8d8d8;
}

#slogan {
  color: #acacac;
  float: left;
  font-style: italic;
}

#site-name-slogan {
  float: left;
}



/* @end */

/* Header Site Info */

.header-site-info {
  margin: 0;
  width: auto;
}

.header-site-info-inner {
}

#header-site-info-inner {
	background-color: transparent;
}



/* @end */

cee

/* @group Header Regions - Secondary menu */

/* Header Regions - Secondary menu
-------------------------------------------------------------- */

.secondary-menu {
  margin-bottom: 0;
  width: auto;
}

.secondary-menu-inner ul.links {
  float: none;
  margin: 0;
}

.secondary-menu-inner ul.links li a:link,
.secondary-menu-inner ul.links li a:visited {
  border-left: 1px solid #353535;
  color: #c7c7c7;
  display: block;
  float: left;
  padding: 7px 10px 7px 10px;
}

.secondary-menu-inner ul.links li.last a {
  border-right: 1px solid #353535;
}

.secondary-menu-inner ul.links li a:hover,
.secondary-menu-inner ul.links li a:focus {
  background: #737373;
  text-decoration: none;
}

.secondary-menu-inner ul.links li a.active {
  background: #383838;
}



/* @end */

/* @group Header Regions - Search */

/* Header Regions - Search
-------------------------------------------------------------- */

.search-box {
  float: right;
  margin-bottom: 0;
  overflow: visible;
  width: auto;
}

.search-box-inner {
  float: right;
  width: 232px;
}

.search-box-inner form#search-theme-form {
  background: url(../images/search-bg.png) no-repeat top center;
  height: 35px;
  position: absolute;
  right: 0;
  top: 5px;
  width: 232px;
  z-index: 10;
}

.search-box-inner #search-input {
  padding: 8px 0 0 10px;
}

.search-box-inner input#edit-search-theme-form {
  background: none;
  border: none;
  color: #333;
  float: left;
  margin: 0;
  padding: 0;
  width: 185px;
}

.search-box-inner .searchButtonPng {
  margin: -1px 0 0 10px;
  padding: 0;
}

.search-box-inner #search-input input {
  margin: 2px 0 0 0;
}



/* @end */



/* @end */

/*  @group Postscript & Footer Regions
-------------------------------------------------------------- */

.postscript-bottom-wrapper {
	background: url(../images/pf-ribbon.png) no-repeat center;
	height: 200px;
}

.postscript-bottom {
  padding: 10px 0 0;
	color: #eaeaea;
}

#postscript-bottom.postscript-bottom.row.grid16-16 {
	padding-top: 5px;
}

.postscript-bottom h2.block-title, 
.footer-message-wrapper h2.block-title {
  color: #fffeff;
	font-weight: bold;
}

.postscript-bottom a:link,
.postscript-bottom a:visited,
.footer-message a:hover {
	color: #fffeff;
}

.footer-wrapper,
.footer-message-wrapper {
	background-color: #301E04;
	border-top-style: none;
}

#footer-inner {
}

#footer-message-wrapper {
}


#livewire {
float: right;

}

#footer-address {
	float: left;
	color: silver;
}

.footer {
	padding: 0;
	border-top-style: none;
	border-top-width: medium;
}

.footer-message {
	padding: 0;
}

.footer-message a:link,
.footer-message a:visited,
.footer a:link,
.footer a:visited {
  color: #a9a9a9;
}

#store-footer {
	visibility: hidden;
}

#store-footer a:link,
#store-footer a:visited {
  color: #a9a9a9;
}

#store-footer {
  color: #727171;
}
/* @end */
/* @end */

/* @group Links */
a:link,
a:visited {
  color: green;
}

a:hover,
a:focus,
a:active {
  color: green;
}
/* @end */
/* @group Headings */
h1, h2, h3, h4, h5, h6 {
  color: #282829;
  font-weight: normal;
  line-height: 100%;
}

h1,
h1.title {
  font-size: 250%;   /* 30px/12px */
}

h2 {
  font-size: 200%;   /* 24px/12px */
}

h3 {
  font-size: 166.67%;   /* 20px/12px */
}

h4 {
  font-size: 116.67%;   /* 14px/12px */
}

h5 {
  font-size: 100%;   /* 12px/12px */
}

h6 {
  font-size: 83.33%;  /* 10px/12px */
}
/* @end */
/* @group Specific Typography */

#footer-message {
  font-size: 90%;
	border-top: medium none #2D343A;
	background: url(../images/mantis.png) no-repeat center;
}



/* @end */

/* @group HTML Elements */

strong.weak {
	font-weight: normal;
	font-style: normal;
}

img {
	padding: 7px;
}



/* @end */
/* @group Primary Menu */

/* @group Primary Main */

#header-primary-menu-wrapper {
	position: relative;
	bottom: 43px;
}

.header-primary-menu-wrapper {
	background-color: transparent;
	background-image: none;
	border-style: none;
	height: 0;
}

.primary-menu {
  margin: 0;
  overflow: visible;
  position: relative;
  z-index: 10;
}

div#primary-menu-inner.primary-menu-inner {
  overflow: visible;
  z-index: 10;
	margin: 0;
}

.primary-menu-inner ul.menu {
  margin: 0;
}

/* visited pseudo selector so IE6 applies text colour */
.primary-menu-inner ul.menu li a:link,
.primary-menu-inner ul.menu li a:visited {
	padding-right: 15px;
	padding-left: 15px;
}

.primary-menu-inner ul.menu li a:hover,
.primary-menu-inner ul.menu li a:focus {
  color: #fff;
}



/* @end */

/* @group Superfish */
.primary-menu-inner ul.sf-menu {
  float: none;
}

#primary-menu-inner ul.menu.sf-menu a {
	color: #282829;
	border-style: none;
	font-weight: bold;
	height: 25px;
}

.primary-menu-inner ul.sf-menu li a:hover,
.primary-menu-inner ul.menu li.active-trail a,
.primary-menu-inner ul.sf-menu li:hover a,
.primary-menu-inner ul.sf-menu li.hover a {
	color: #282829;
	background-color: #5A8725;
}

.primary-menu-inner ul.menu li.active-trail a.active {
  color: black;
}

.primary-menu-inner ul.sf-menu li.last {
  border-right: 1px none #5b5b5b;
	padding-right: 20px;
}

.primary-menu-inner ul.sf-menu li.expanded:hover a,
.primary-menu-inner ul.sf-menu li.expanded.hover a {
  margin-bottom: -5px;
  padding-bottom: 13px;
	background-color: #5A8725;
}

.primary-menu-inner ul.sf-menu li.expanded:hover ul.menu li a,
.primary-menu-inner ul.sf-menu li.expanded.hover ul.menu li a {
  margin-bottom: 0;
  padding: 5px 10px;
}



/* @end */



/* @end */
/* @group Footer - single column list */

div.microdata {
	float: left;
	color: white;
}

#footer-message-text-inner div.microdata div a {
	clear: left;
	float: left;
}
.footer .fusion-inline-menu {
	margin: 0;
}

.footer .fusion-inline-menu ul li {
  display: block;
  margin: 0;
  padding: 0;
	float: left;
	font-size: .9em;
}

.fusion-inline-menu .inner ul.menu li {
  border-right-style: none;
  border-right-width: 1px;
  display: inline;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.footer .fusion-inline-menu .inner ul li.first {
  border-left-style: none;
}

.fusion-inline-menu .inner ul.menu li.last {
	border-right-style: none;
}


.footer .fusion-inline-menu .inner ul li a:link,
.footer .fusion-inline-menu .inner ul li a:visited {
  display: block;
  padding: 10px;
}
/* @end */

/* @group Nodes
/-------------------------------------------------------------- */

/* @group Product Nodes */

div.field.field-product-benefits {
	background-color: #301E04;
	color: white;
	padding: 7px;
}

.nd-region-left {
  width: 25%;
}

.nd-region-right {
  width: 35%;
}
div.nd-region-middle {
	width: 420px;
}

div.node-type-product div.nd-region-header img.imagefield-field_header_image {
	position: relative;
	right: 17px;
	bottom: 10px;
}

img.imagecache.imagecache-header_wsidebar.imagecache-default.imagecache-header_wsidebar_default {
	width: 710px;
	padding: 0;
}


/* @end */
.node_read_more a:link,
.node_read_more a:visited {
  background: #aeaeae;
  border: 2px solid #e9e9e9;
  color: #fff;
  padding: 3px 5px;
  text-transform: lowercase;
}

div.field.field-product-highlight {
	position: relative;
	bottom: 20px;
	color: white;
	background-color: #6C9930;
	width: 710px;
	right: 10px;
	padding-bottom: 1px;
	padding-top: 1px;
	text-align: center;
	padding-left: 10px;
	margin-left: 10px;
}

.postscript-bottom-wrapper .node_read_more a:link,
.postscript-bottom-wrapper .node_read_more a:visited,
.footer-wrapper .node_read_more a:link,
.footer-wrapper .node_read_more a:visited {
  color: #fff;
}

div.nd-region-right div.field-product-benefits div.field-label {
	text-align: center;
	font: bold 28px/28px "Waiting for the Sunrise";
}

div.node-type-product div.nd-region-footer a.imagecache-field_image_cache img {
	float: left;
	margin-right: 20px;
}

tr.head {
	background-color: silver;
}
/* @end */

/* @group Slider */
#sliderwrapper {
  width: 960px;
  margin: 0 auto;
}

#slider {
  width: 820px;
  margin: 0 auto;
  position: relative;
}

.scroll {
  height: 410px;
  width: 820px;
  overflow: auto;
  overflow-x: hidden;
  position: relative;
  clear: left;
}

.scrollContainer div.panel {
  width: 780px;
	height: 370px;
	padding: 20px;
}

ul.slidenav {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 9px;
}

ul.slidenav .slidetab-active {
  background-color: #e6e6e6;
}

ul.slidenav li {
  display: inline;
  margin-right: 10px;
}

ul.slidenav a {
  padding: 10px;
  color: #000;
  text-decoration: none;
}

ul.slidenav a:hover {
  background-color: #e6e6e6;
}

ul.slidenav a.selected {
  background-color: #fff;
}

ul.slidenav a:focus {
  outline: none;
}

.scrollButtons {
  position: absolute;
  top: 150px;
  cursor: pointer;
}

.scrollButtons.left {
  left: -20px;
}

.scrollButtons.right {
  right: -20px;
}

.hide {
  display: none;
}



/* @end */

a.feed-icon {
}

/* @group LL Backyard Page */

div.aside {
	background-color: #6C9930;
	display: inline-block;
	width: 280px;
	padding: 10px;
	margin-left: 10px;
}

div.aside h2 {
	font: bold 25px "Waiting for the Sunrise";
	margin: 0;
}

div.aside li {
	margin-left: 20px;
}

div.ll-main {
	width: 390px;
	float: left;
}

#block-views-product_blocks-block_1 {
	width: 185px;
	margin: 0;
	padding: 5px;
	border-style: solid;
	border-width: thin;
}

#block-views-product_blocks-block_1 div.inner.clearfix {
	margin-left: 0;
}

#block-views-product_blocks-block_1 h2.title.block-title {
	text-align: center;
	margin-bottom: 0;
	font: bold 36px "Waiting for the Sunrise";
}

#edit-attributes-3-wrapper {
	margin: 0;
}

#block-block-9 {
	width: 520px;
	margin-bottom: 0;
}

#block-block-9 img {
	margin: 0;
	padding: 0;
	bottom: 10px;
	position: relative;
}



/* @end */

/* @group Custom Blocks */
#block-block-10 {
	margin: 0;
	position: relative;
	top: 278px;
	right: 10px;
}
#block-user-0 h2.title.block-title {
	display: none;
}

#edit-name-wrapper label, #edit-pass-wrapper label {
	font-weight: lighter;
}

div#edit-name-wrapper.form-item, div#edit-pass-wrapper.form-item {
	margin: 0;
}

#user-login-form div div.item-list {
	margin: 0;
}

/* @group Views Showcase */

.FPSS img.imagefield {
	margin: 0;
	padding: 0;
}

/* @end */

/* @group Twitter */

div.view-twitter div.icon img {
	float: left;
}

.my-twitter ul {
	border-top-style: solid;
	border-top-width: thin;
	margin-top: 5px;
}

h2.twitter {
	font-weight: bold;
}

div.views-field-created-time span.field-content {
	font-size: .85em;
}

/* @end */

/* @group Account Menu */

#block-menu-accountmenu {
	border-top-style: solid;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-top-width: thin;
	margin: 20px 0 10px;
}

/* @end */

/* @group ajax cart */

td.cart-block-item-desc {
	display: none;
}

#cart-block-contents-ajax table.cart-block-items thead tr th {
	display: none;
}

#block-uc_ajax_cart-0 {
	border-top-color: #0C753E;
	border-top-style: outset;
	padding-top: 10px;
}

/* 

#block-uc_ajax_cart-0 div h2.title.block-title {
	background: url(../images/bag_green.png) no-repeat -12px 25px;
	text-align: left;
	height: 94px;
	float: left;
	width: 127px;
}
 */

#ajax-cart-headline {
	font: bold 40px/0 "Waiting for the Sunrise";
	color: #84C553;
	text-shadow: #424242 1px 1px 0;
	margin-bottom: 0;
	position: relative;
}

div#cart-block-contents-ajax.cart-empty {

}


#ajaxCartUpdate li.last a {
	float: right;
}



/* @end */

#sidebar-first {
}

#block-block-3 h2.title.block-title {
	text-align: center;
	color: #301E04;
	text-shadow: #eaeaea 1px 1px 3px;
	font: bold 50px "Waiting for the Sunrise";
	margin-bottom: 0;
}

#block-block-3 p {
	margin: 0;
}

#block-block-4 div.inner.clearfix h2.title.block-title {
	text-align: center;
	color: #301E04;
	text-shadow: #eaeaea 1px 1px 3px;
	font: bold 50px "Waiting for the Sunrise";
	margin-bottom: 0;
}

#block-block-4 p {
	margin: 0;
}

/* @group MailChimp Signup */

#mc-embedded-subscribe-form fieldset div.mc-field-group div.mc-header img {
	padding: 0;
	margin-right: 5px;
	float: left;
}

#mc-embedded-subscribe-form fieldset {
	border: none;
	padding: 0;
	margin: 5px 0 0;
	border-top-style: outset;
	border-bottom-style: inset;
	border-top-color: #0C753E;
}

#mc-embedded-subscribe-form fieldset div.mc-field-group p {
	margin-top: 5px;
	margin-bottom: 5px;
}

#mce-EMAIL {
	width: 210px;
	margin-right: 5px;
	clear: both;
}

.join {
	font: bold 16px "Waiting for the Sunrise";
	position: relative;
	bottom: 20px;
}

div.o-news {
	font: bold 23px/24px "Waiting for the Sunrise";
	position: relative;
	bottom: 20px;
}



/* @end */



/* @end */

#block-addthis-0 div.inner.clearfix h2.title.block-title {
	font: bold 23px/24px "Waiting for the Sunrise";
}

#content-content a.feed-icon img {
	display: none;
}

/* @group Checkout */

#payment_details div.secure img {
	float: left;
}

#payment_details div.secure-strong {
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 5px;
}

div#payment_details.solid-border {
	background-color: silver;
}

#customer-pane label {
	float: left;
	margin-right: 10px;
}


/* @end */

